<div class="container">
  <div class="col-md-4">

  <h1 class="user-prof-name"> <%=@user.name%></h1>
</br>
  <!-- <h4> Profile Information </h4> -->
  <!-- <p>Name: <%=@user.name%></p>
  <p>Email: <%=@user.email %></p>
  <p>Member Since: <%=@user.created_at.strftime('%D')%>
  <p><%=link_to "Edit Profile", edit_user_registration_path, class: "btn btn-default submit-btn-sign-up"%></p>
  </div> -->

</div>
