<div class="container">
  <div class="row">
    <h1 class="user-prof-name">
      <%=@user.name.capitalize%>
      <!-- <h6 class="pull-right">Email: <%= @user.email %></h6> -->
      <small class="pull-right to-do-count">To-Do's: <%=@user.items.count %></small>
    </h1>

  </div>
  <div class="text-center">
    </br>
    <div class="to-do-list col-md-6 col-md-offset-3">
      <%= render partial: "items/form", locals: {user: @user} %>
      <%= render partial: "items/item", locals: {user: @user} %>
    </div>
  </div>
</div>
