<div class="container">
<h2>Forgot your password?</h2>
  <div class="col-md-4">
    <div class="row text-center">
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <%= devise_error_messages! %>

        <div class="field">
          <%= f.email_field :email, autofocus: true, class: "form-control", placeholder: "Enter Email" %>
        </div>
        <div class="adtl-login-actions">
          <%= f.submit "Send me reset password instructions", class:"btn btn-default submit-btn-sign-up" %>
      <% end %>
    </div>

    </br>
      <%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
        <%= link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name), class: "pull-left" %><br />
      <% end -%>
    </div>
  </div>
</div>
